@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar{
  background-color: #0070D1;
}

.add-btn{
  background-color: #0070D1;
  color:white;
}
.add-btn:hover{
  border:1px solid #0070D1;
  color:black;
}

.delete-btn{
  background-color: red;
  color:white;
}
.delete-btn:hover{
  border:1px solid red;
}

.completed-btn{
  background-color: green;
  color:white;
}
.completed-btn:hover{
  border: 1px solid green;
}

.edit-btn{
  background-color: blue;
  color:white;
}
.edit-btn:hover{
  border:1px solid blue;
}
